$white: #fff;
$black: #000;
$gray: #727070;
$gray-light: #bcbcbc;
$blue: #25a0ff;
$red: #ff0000e0;
$green: #5FB924;

$font-main: "Montserrat", sans-serif;

$breakpoints: (
  "mob": 480px,
  "tab": 768px,
  "desk": 1200px,
  "deskBig": 1500px,
) !default;
